<!doctype html>
<html lang="en-us">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4V22HEPHXM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4V22HEPHXM');
</script>
<link rel="icon" href="favicon.ico">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="description" content="Modern & decentralized long-term crowd-funded investment platform powered by the tron blockchain network.">
<title>dtron.cc</title>
<link rel="stylesheet" href="fonts/import.css">
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/jqueryui.css">
<link rel="stylesheet" href="css/custom.css?q=tq">
<link rel="stylesheet" href="css/custom-slider.css">
<script src="js/jquery.min.js"></script>
<script src="js/jquery.ui.js"></script>
<script src="js/jquery.ui.touch-punch.min.js"></script>
<script src="js/jquery.toast.min.js"></script>
<script src="js/jquery.cookie.min.js"></script>
<script src="js/moment.js"></script>
<script src="js/countdown.js"></script>
<script src="js/tronweb.js"></script>
<style>[v-cloak] { display:none; }</style>
</head>
<body>
<div class="b-app" id="App" v-cloak>

	<div id="c_hero" class="container" style="background: none !important; border: none !important">
		<img src="img/logo.png">
	</div>

	<div class="container">
		<div class="sub">
			<h1 style="text-align: center">DTRON IS RELAUNCHING!</h1>
			<h5 style="text-align: center">JANUARY 24 @ 8 AM UTC</h5>
			<h5 style="text-align: center">{{ countdown(new Date(1611475200000)).toString() }}</h5>
			<button id="view_telegram" @click="window.open('https://t.me/dtronofficial')">OFFICIAL TELEGRAM GROUP &nbsp;&nbsp;[&#x2197;]</button>
		</div>
	</div>
    
    <!--div class="container">
        <div class="sub">
            <h6>Invest</h6>
            <h5>50 trx minimum</h5>
            <input type="number" min="50" placeholder="50 trx" value="50" id="trx_value" v-model.number="calc.amount" @change="calc.amount = calc.amount < 50 ? 50 : calc.amount">
            <button id="btn_invest" @click.prevent="deposit(calc.amount)">INVEST</button>
            <h5 style="text-align: center">Please keep 5-10 trx for transaction fees</h5>
        </div>
    </div-->
	
	<div id="c_data" class="container">
		<div class="sub">
			<h1 style="text-align: center">Contract Conditions</h1>
			<br>
			<h6>The Total ROI</h6>
			<h5>Users will be able to get 300%(<u>deposit included</u>) of their total investment.</h5>
			<br>
			<h5>The contract will provide users 10% of their total investment every day for 30 days or when the total <u>300% profit is reached</u>, whichever comes first.</h5>
			<br>
			<h6>How?</h6>
			<h5>Users can get the 300% by waiting for the 10% Daily ROI(return of investment) or by referral commissions.</h5>
			<br>
			<h6>Referral Commissions</h6>
			<h5>Referral commissions are 12 levels deep:</h5>
			<h5>10% - 5% - 3% - 3% - 3% - 3% - 2% - 2% - 1% - 1% - 1% - 1%</h5>
			<br>
			<h5>Whenever a downline deposits, each of the uplines are credited immediately.</h5>
			<br>
			<h5>If an upline already reached 300% profit, they will not receive anymore commission from their downlines.</h5>
			<br>
			<h6>Growth &amp; Profits</h6>
			<h5>Once users get 300% of their investments, they shall need to invest again to earn more profit.</h5>
			<br>
			<h5>Users can freely invest anytime so they can maximize their profits and not have any excess profits lost.</h5>
			<br>
			<h5>Users can choose to either withdraw and/or reinvest a portion of their profits.</h5>
			<br>
			<h6>Insurance Fund</h6>
			<h5>Excess profits shall go to the DTRON Insurance Fund Contract &ndash; to be used for refunds in the immediate future.</h5>
			<br>
			<h6>Top Globals</h6>
			<h5><u>Every 24 hours</u>, the smart contract shall automatically give <u>0.5%</u> of the total contract balance to <u>each</u> of the following:</h5>
			<h5>Top 3 investors</h5>
			<h5>Top 3 referrals</h5>
			<h5>Top 1 reinvestor</h5>
		</div>
	</div>

	<div class="container">
		<div class="sub">
			<h6>Get your teams ready!</h6>
			<h5>The DTRON Team is working 24/7 in refining the new dApp platform.</h5>
			<br v-if="upline != default_upline">
			<h6 v-if="upline != default_upline">Referred by</h6>
			<h5 v-if="upline != default_upline">{{ upline }}</h5>
			<br>
			<h6>Your Referral Link</h6>
			<h5>{{ location.origin }}/?ref={{ tron.account }}</h5>
			<button class="copytext" @click="copyText(location.origin + '/?ref=' + tron.account)">COPY</button>
		</div>
	</div>

	<div class="container">
		<div class="sub">
			<h6>More Information:</h6>
			<button id="view_telegram" @click="window.open('https://t.me/dtronofficial')">OFFICIAL TELEGRAM GROUP &nbsp;&nbsp;[&#x2197;]</button>
		</div>
	</div>

	<div class="container" style="Box-shadow: none; border: none; background: none; backdrop-filter: none !important; color: #fff; text-align: center">
		&copy; dtron.cc 2021
	</div>
	
</div>

<script src="js/vue.js"></script>
<script src="js/custom.js?q=31"></script>
</body>
</html>